Importing library that is needed.

In [6]:
import pandas as pd

Importing csv file using the Pandas library.

In [18]:

df = pd.read_csv('openpowerlifting.csv')
df

,MeetID,Name,Sex,Equipment,Age,Division,BodyweightKg,WeightClassKg,Squat4Kg,BestSquatKg,Bench4Kg,BestBenchKg,Deadlift4Kg,BestDeadliftKg,TotalKg,Place,Wilks
0,0,Angie Belk Terry,F,Wraps,47.0,Mst 45-49,59.60,60,NaN,47.63,NaN,20.41,NaN,70.31,138.35,1,155.05
1,0,Dawn Bogart,F,Single-ply,42.0,Mst 40-44,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
2,0,Dawn Bogart,F,Single-ply,42.0,Open Senior,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
3,0,Dawn Bogart,F,Raw,42.0,Open Senior,58.51,60,NaN,NaN,NaN,95.25,NaN,NaN,95.25,1,108.29
4,0,Destiny Dula,F,Raw,18.0,Teen 18-19,63.68,67.5,NaN,NaN,NaN,31.75,NaN,90.72,122.47,1,130.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386409,8481,William Barabas,M,Multi-ply,NaN,Elite,113.58,125,NaN,NaN,NaN,NaN,NaN,347.50,347.50,2,202.60
386410,8481,Justin Zottl,M,Multi-ply,NaN,Elite,119.02,125,NaN,NaN,NaN,NaN,NaN,322.50,322.50,3,185.77
386411,8481,Jake Anderson,M,Multi-ply,NaN,Elite,120.29,125,NaN,NaN,NaN,NaN,NaN,367.50,367.50,1,211.17
386412,8481,Jeff Bumanglag,M,Multi-ply,NaN,Elite,126.73,140,NaN,NaN,NaN,NaN,NaN,320.00,320.00,3,181.85
386413,8481,Shane Hammock,M,Multi-ply,NaN,Elite,129.46,140,NaN,NaN,NaN,NaN,NaN,362.50,362.50,2,205.18

Replacing NaN with zeros.

In [19]:
df= df.fillna(0)
df

,MeetID,Name,Sex,Equipment,Age,Division,BodyweightKg,WeightClassKg,Squat4Kg,BestSquatKg,Bench4Kg,BestBenchKg,Deadlift4Kg,BestDeadliftKg,TotalKg,Place,Wilks
0,0,Angie Belk Terry,F,Wraps,47.0,Mst 45-49,59.60,60,0.0,47.63,0.0,20.41,0.0,70.31,138.35,1,155.05
1,0,Dawn Bogart,F,Single-ply,42.0,Mst 40-44,58.51,60,0.0,142.88,0.0,95.25,0.0,163.29,401.42,1,456.38
2,0,Dawn Bogart,F,Single-ply,42.0,Open Senior,58.51,60,0.0,142.88,0.0,95.25,0.0,163.29,401.42,1,456.38
3,0,Dawn Bogart,F,Raw,42.0,Open Senior,58.51,60,0.0,0.00,0.0,95.25,0.0,0.00,95.25,1,108.29
4,0,Destiny Dula,F,Raw,18.0,Teen 18-19,63.68,67.5,0.0,0.00,0.0,31.75,0.0,90.72,122.47,1,130.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386409,8481,William Barabas,M,Multi-ply,0.0,Elite,113.58,125,0.0,0.00,0.0,0.00,0.0,347.50,347.50,2,202.60
386410,8481,Justin Zottl,M,Multi-ply,0.0,Elite,119.02,125,0.0,0.00,0.0,0.00,0.0,322.50,322.50,3,185.77
386411,8481,Jake Anderson,M,Multi-ply,0.0,Elite,120.29,125,0.0,0.00,0.0,0.00,0.0,367.50,367.50,1,211.17
386412,8481,Jeff Bumanglag,M,Multi-ply,0.0,Elite,126.73,140,0.0,0.00,0.0,0.00,0.0,320.00,320.00,3,181.85
386413,8481,Shane Hammock,M,Multi-ply,0.0,Elite,129.46,140,0.0,0.00,0.0,0.00,0.0,362.50,362.50,2,205.18

Viewing coloum names.

In [9]:
df.columns

Index(['MeetID', 'Name', 'Sex', 'Equipment', 'Age', 'Division', 'BodyweightKg',
       'WeightClassKg', 'Squat4Kg', 'BestSquatKg', 'Bench4Kg', 'BestBenchKg',
       'Deadlift4Kg', 'BestDeadliftKg', 'TotalKg', 'Place', 'Wilks'],
      dtype='object')

Renaming column name.

In [15]:
df.rename(columns= {'MeetID': 'Meet ID',
                    'BodyweightKg': 'Body Weight',
                    'WeightClassKg':'Weight Class',
                    'Squat4Kg': 'Squat',
                    'BestSquatKg': 'Best Squat',
                    'Bench4Kg':'Bench',
                    'BestBenchKg':'Best Bench',
                    'Deadlift4Kg': 'Deadlift',
                    'BestDeadliftKg': 'Best Deadlift',
                    'TotalKg': 'Total Kg'}, inplace = True)

df

,Meet ID,Name,Sex,Equipment,Age,Division,Body Weight,Weight Class,Squat,Best Squat,Bench,Best Bench,Deadlift,Best Deadlift,Total Kg,Place,Wilks
0,0,Angie Belk Terry,F,Wraps,47.0,Mst 45-49,59.60,60,0.0,47.63,0.0,20.41,0.0,70.31,138.35,1,155.05
1,0,Dawn Bogart,F,Single-ply,42.0,Mst 40-44,58.51,60,0.0,142.88,0.0,95.25,0.0,163.29,401.42,1,456.38
2,0,Dawn Bogart,F,Single-ply,42.0,Open Senior,58.51,60,0.0,142.88,0.0,95.25,0.0,163.29,401.42,1,456.38
3,0,Dawn Bogart,F,Raw,42.0,Open Senior,58.51,60,0.0,0.00,0.0,95.25,0.0,0.00,95.25,1,108.29
4,0,Destiny Dula,F,Raw,18.0,Teen 18-19,63.68,67.5,0.0,0.00,0.0,31.75,0.0,90.72,122.47,1,130.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386409,8481,William Barabas,M,Multi-ply,0.0,Elite,113.58,125,0.0,0.00,0.0,0.00,0.0,347.50,347.50,2,202.60
386410,8481,Justin Zottl,M,Multi-ply,0.0,Elite,119.02,125,0.0,0.00,0.0,0.00,0.0,322.50,322.50,3,185.77
386411,8481,Jake Anderson,M,Multi-ply,0.0,Elite,120.29,125,0.0,0.00,0.0,0.00,0.0,367.50,367.50,1,211.17
386412,8481,Jeff Bumanglag,M,Multi-ply,0.0,Elite,126.73,140,0.0,0.00,0.0,0.00,0.0,320.00,320.00,3,181.85
386413,8481,Shane Hammock,M,Multi-ply,0.0,Elite,129.46,140,0.0,0.00,0.0,0.00,0.0,362.50,362.50,2,205.18